* {
	box-sizing: border-box;
}

body {
	background: #7ff4;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
}

a {
	color: inherit;
}

p,
ul {
	margin-bottom: 0;
}

.page {
	align-content: center;
	display: grid;
	justify-content: center;
	min-height: 100vh;
	min-height: 100dvh;
	text-align: center;
}

.page > * + * {
	margin-top: 2em;
}

.links {
	column-gap: 2em;
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
}

.psst {
	font-size: 0.875rem;
}

confetti-button button {
	-webkit-appearance: none;
	appearance: none;
	background: #ff5;
	border: 0.2em solid black;
	border-radius: 100px;
	color: inherit;
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0.75em 1.5em;
	touch-action: manipulation;
}

confetti-button button:active {

}
